{% extends 'base.html' %}
{% load static %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
crossorigin="anonymous"></script>
{% block content %}

<main>
    <section id="mov">
        <div class="daka" style="width: 250px;height: 150px;position:relative;margin:auto;text-align:center;z-index:-1;top: 200px;">
            <kbd>HI , GUYS NOW IT'S under the maintenance its take sometime  </kbd> 
            <img src="https://img.icons8.com/external-nawicon-detailed-outline-nawicon/64/null/external-maintenance-seo-and-marketing-nawicon-detailed-outline-nawicon.png">
            </div>
	{% include 'sync.html' %}</section>
    <section id="video-streams">

	</section>


    <section id="controls-wrapper" >
       
         <div class="icon-wrapper">
            <img id="mic-btn" src="https://img.icons8.com/ios-filled/30/000000/microphone--v1.png"/>
        </div>

        
    </section>
</main>
{% endblock content %}