{% extends "base.html" %}

{% load static  %}
{% block content %}
<style>

</style>

<script defer src="{% static 'script.js' %}"></script>
<div class="dad" >
<h2 style="text-align: center;">
    BACK TO THE HOME PAGE
    <a class="nav-link active" aria-current="page" href="/"> <button class="btn btn-danger">BACK </button> </a></H1>

    <div class="Click-here" id="tyty" style="justify-content: center; background-color: aqua;margin: auto;"
        onclick="hideButton(this)">Point_boX</div>


</div>

    {% endblock content %}